.App {
  background-color: #560EAD;
  padding: 60px 0;
  display: flex;
  justify-content: center;
}

.main-page {
  box-sizing: border-box;
  height: 100vh;
  width: 90%;
  margin: 100px auto;
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  width: 100%;
}

.buttons Button {
  box-sizing: border-box;
  margin: 2px 4px;
  width: 50%;
}

.buttons Button:hover {
  transition: 0.2s ease-in-out;
  margin: 0;
}